.about{
    display: flex;
    justify-content: space-around;
    line-height: 2;
    padding: 10% 5%;
    top: 85px;
}

.about_item{
    display: flex;
    width: calc(33.3%);
    padding: 0 20px;
}

.read_more{
    text-transform: uppercase;
    background-color: #db4e48;
    border-color: #db4e48;
    width: fit-content;
    padding: 10px 25px;
    margin: 5% 0;
    color: #fff;
    cursor: pointer;
}

.read_more:hover{
    background-color: #000;
    border-color: #000;
}

.commercial, .residential{
    text-align: center;
    background-color: #fff;
}

.commercial > h3, .residential > h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5% 5%;

}

.commercial > p, .residential > p{
    font-size: 16px;
    padding: 2% 10%;
}

.commercial > img, .residential > img{
    width: 100%;
}

.about_text > p{
    font-size: 18px;
    text-align: justify;
    padding-top: 15px;
    padding-right: 8%;
}

.about_text > h2{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}
