.contact{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    padding: 80px;
}

.contact_left{
    /* padding: 0 5%; */
    width: 30%;
}

.contact_left > h2, .contact_right > h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.underline{
    width: 60px;
    margin-bottom: 40px;
}

.contact_line{
    display: flex;
    padding-bottom: 30px;
    align-items:baseline;
}

.contact_line > h4{
    font-size: 18px;
    text-transform: uppercase;
}

.contact_line > p{
    padding-left: 5px;
    font-size: 13px;
    line-height: 1.5;
}

.social_media i {
    color: #db4e48;
    padding-right: 23px;
    font-size: 20px;
}

.contact_right{
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 40px;
    width: 70%;
}

.contact_input{
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    margin: 10px 0;
    padding: 12px 30px;    
    border: 1px solid #c7c7c7;

}

.contact_input input, .contact_input textarea{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    border: none;
    outline: none;
    color: #888;
    background-color: #f8f8f8;

}

.contact_right i{
    color: #c7c7c7;
    font-size: 100%;
    background-color: #f8f8f8;
    padding-right: 10px;
}

