.header{
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 10px;
    background-color: #2d394b;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.add_shopping{
    background-color: #31af36;
    border-color: #31af36;
    color: #fff;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 10px;
}

.add_shopping > i{
    padding-right: 10px;
}

.membership_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 0 40px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
}

.icon_shopping, .icon_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99a6b9;
    margin-left: 30px;
}

.icon_shopping{
    margin: -15px 0 -15px 15px; 
    width: 50px;
    font-size: 17px;
}

.icon_arrow{
    margin: -15px 0 0 10px; 
    border-radius: 3px;
    padding: 0 23px;
    border: .3px solid #99a6b9;
    font-size: 30px;
    position: relative;
}

.icon_arrow i{
    position: absolute;
    top: 23px;
    right: 13px;
}