.home_section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.text_left{
    padding: 20% 5%;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.quote{
    background-color: #fff;
    display: flex;
    flex-flow: column;
    text-transform: uppercase;
    font-size: 24px;
    padding: 60px 40px;
    margin: 5% 7%;
    width: 28%;
}

.underline{
    border: 0.5px solid #db4e48;
    margin: 20px 0;
    width: 15%;
}

.input{
    display: flex;
    align-items: center;
    color: #888;
    background-color: #f8f8f8;
    margin: 10px 0;
    padding: 12px 30px;    
}

.input input{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    background-color: #f8f8f8;
    margin-left: 5%;
    border: none;
    outline: none;
}

.input select{
    margin-left: 5%;
    background-color: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
}

.input textarea{
    margin-left: 5%;
    background-color: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    
}

.quote .fa{
    color: #888;
    font-size: 100%;
}

.home_section img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

.submit{
    text-transform: uppercase;
    background-color: #db4e48;
    border-color: #db4e48;
    width: fit-content;
    padding: 10px 25px;
    margin: 50px 0;
    color: #fff;
    cursor: pointer;
}

.submit:hover{
    background-color: #000;
    border-color: #000;
}

.property, .service{
    display: flex;
    justify-content: left;
    position: relative;
    width: 17em;
}

.property::before, .service::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 600; 
    content: "\f015";
}

.service::before{
    content: "\f013";
}

select{
    cursor: pointer;
    appearance:none;
    flex: 1;
}

.property::after, .service::after{
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Font Awesome 6 Free"; 
    font-weight: 600;
    content: "\f078";
    pointer-events:none;
    cursor:pointer;
}

