.home_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.navigation{
    text-transform: uppercase;
    padding-right: 70px;
    font-size: 12px;
}

.navigation a{
    padding-right: 10px;
    color: #000;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a:hover{
    color: #db4e48;
}

.navigation a:active{
    color: #db4e48;
}

.logo{
    margin-left: 80px;
}