.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background-color: #fff;
}

.news h3{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.news > .underline{
    width: 50px;
}

.news_post{
    display: flex;
    justify-content: space-around;
    margin: 20px 5%;
}   

.news_post_item{
    width: calc(33.3% - 40px);
}

.news_post_item img{
    width: 100%;
}

.news_post_item a{
    color: #000;
}

.news_post_item a:hover{
    color: #db4e48;
}

.news_post_item h4{
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.5;
    padding: 30px 0 20px 0;
    text-transform: uppercase;
    /* width: 60%; */
}

.news_post_item p{
    font-size: 13px;
    padding: 30px 0 20px 0;
    line-height: 1.5;

}

.news_post_item div span{
    font-style: italic;
    font-size: 14px;
}

.news_post_item div span:first-child{
    color: #ed4c12;
}

.news_post_item div span:last-child{
    color: #888888;
    margin-left: 10px;
}

.news_under{
    background-color: #db4e48;
    width: 100%;
    padding: 60px 60px;
    font-size: 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 100px;
}

.news_under_left{
    padding: 0 30px;
}

.news_under_left > h5{
    padding-top: 30px;
    font-size: 18px;
}

.news_under_right{
    display: flex;
    flex-direction: row;
}

.news_input{
    display: flex;
    align-items: center;
    color: #888;
    background-color: #f8f8f8;
}

.news_input > i{
    padding-left: 20px;
}

.news_input > input{
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3px;
    width: 249px;
    padding: 11px 19px 11px 20px;    
    background-color: #f8f8f8;
    border: none;
    outline: none;
}

button.subscribe{
    padding: 12px 15px;
    font-size: 14px;
    text-transform: uppercase;
    border-color: #fff;
    margin-left: 10px;
    transition: 0.4s;
}

button.subscribe:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.brand{
    background-color: #f8f8f8;
    display: flex;
    padding: 60px 100px;
    width: 100%;
    justify-content: space-around;
}

.brand_item{
    opacity: 30%;
    transition: 0.4s;
}

.brand_item:hover{
    opacity: 100%;
}


.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 70px;
    font-size: 13px;
    line-height: 2;
    text-align: center;
    width: 100%;

}

.price_div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.pricing > .underline{
    width: 50px;
    margin-bottom: 40px;
} 

.price_div_item{
    border: 1px solid #ececee;
    width: calc(25%);
    padding: 27px;
    margin: 40px 15px 0 15px;
    position: relative;
    max-width: 300px;
}

.pricing_label{
    width: 86px;
    height: 86px;
    position: absolute;
    top: -43px;
    right: 21px;
    border-radius: 50%;
    transition: .3s ease-out;
    fill: #db4e48;
}


.pricing_label span{
    position: absolute;
    width: 86px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    top: 25px;
    right: 0;
}

.pricing_label:hover{
    box-shadow: -5px 5px 5px  #ececee;
    top: -44px;
    right: 22px;
}

.price_div_item_top{
    border-bottom: 1px solid #ececee;
    padding: 29px 0 27px 0;
}

.price_div_item_top > h6{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.price_month span:first-child{
    color: #db4e48;
    font-size: 40px;
}

.price_div_item_bottom{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding-top: 40px;
    align-items: center;
    font-size: 14px;
}

.price_div_item_bottom > span{
    padding-top: 10px;
}