.portfolio{
    padding-top: 60px;
}

.portfolio .nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #221F1E;
    line-height: 1.4;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

.nav h2::after{
    content: '';
    position: absolute;
    display: block;
    height: 1.5px;
    width: 55px;
    bottom: -20px;
    left: 45px;
    margin-top: 15px;
    background: #db4e48;
    will-change: transform, opacity;
}


.nav ul{
    font-size: 16px;
    display: flex;
    width: 40%;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 40px 0;
    cursor: pointer;
    transition: 0.4s;
}

.nav li:hover{
    color: #db4e48;
}

.grid_portfolio{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;

}

.grid_portfolio_item{
    position: relative;
    width: calc(25%);
    height: 18.5vw;
    cursor: pointer;

}

.grid_portfolio_item img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.grid_portfolio_item img:hover{
    z-index: -1;
}

.hover_content:hover{
    position: absolute;
    z-index: 1;
    background-color: rgb(219, 78, 72);
    opacity: 0.8;
}

.hover_content:hover .underline{
    width: 100px;
}

.hover_content > .fa-solid{
    margin-top: 10%;
}

.hover_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 100%;
    transition: ease-in-out .2s;
}


.hover_content h4{
    font-style: italic;
    padding: 15px 0;
}

.hover_content h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 0 15px 0;
    letter-spacing: 1px;
}

.hover_content .underline{
    border: 0.1px solid #fff;
    width: 10px;
    margin: 0;
    transition: 0.4s ease-out;
}

.hover_content p{
    padding: 20px 0 10px 0;
}

.hover_content i{
    font-size: 30px;
    font-weight: 100;
}


.portfolio_under{
    background-color: #db4e48;
    width: 100%;
    padding: 60px 0;
    font-size: 24px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

button.contact{
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    border-color: #fff;
    margin-top: 50px;
}

button.contact:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}